@font-face {
    font-family: 'FashionVictim';
    src: url('subset-FashionVictim.woff2') format('woff2'),
        url('subset-FashionVictim.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

